---

---
<div class="py-8 bg-gray-50">
    <nav class="flex justify-center space-x-10">
        <a href="/" class="font-medium text-gray-500 hover:text-gray-900">Home</a>
        <a href="/resources/HTML/1" class="font-medium text-gray-500 hover:text-gray-900">HTML</a>
        <a href="/resources/CSS/1" class="font-medium text-gray-500 hover:text-gray-900">CSS</a>
        <a href="/resources/JavaScript/1" class="font-medium text-gray-500 hover:text-gray-900">JavaScript</a>
        <a href="/resources/Frameworks/1" class="font-medium text-gray-500 hover:text-gray-900">Frameworks</a>
        <a href="/resources/Accessibility/1" class="font-medium text-gray-500 hover:text-gray-900">Accessibility</a>
        <a href="/resources/General/1" class="font-medium text-gray-500 hover:text-gray-900">General</a>
    </nav>
</div>